@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@custom-variant dark (&:is(.dark *));
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-destructive: var(--destructive);
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
}
:root {
  --background: #09161b;
  --foreground: #f0f4ed;
  --card: #13252b;
  --card-foreground: #17252b;
  --popover: #13252b;
  --popover-foreground: #f0f4ed;
  --primary: #d2f882;
  --primary-foreground: #17252b;
  --secondary: #edf0eb;
  --secondary-foreground: #17252b;
  --muted: #f4f6f2;
  --muted-foreground: #a4b3af;
  --accent: #d2f882;
  --accent-foreground: #17252b;
  --destructive: #a92828;
  --border: #ffffff20;
  --input: #dde2dc;
  --ring: #5b8131;
  --radius: 6px;
  --navy: #142329;
  --lime: #d2f882;
}
.dark {
  --background: #142329;
  --foreground: #f6f8f4;
  --card: #203138;
  --card-foreground: #f6f8f4;
  --popover: #203138;
  --popover-foreground: #f6f8f4;
  --primary: #d2f882;
  --primary-foreground: #142329;
  --secondary: #203138;
  --secondary-foreground: #f6f8f4;
  --muted: #203138;
  --muted-foreground: #afbbbc;
  --accent: #d2f882;
  --accent-foreground: #142329;
  --border: #34454b;
  --input: #34454b;
  --ring: #d2f882;
}
